.selected {
  /*background-color: #CFD8DC !important;*/
  background-color: #ADD3F1 !important;
  color: #434343;
}
.datasets {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  line-height: 1.8em;
  /*width: 15em;*/
}
.datasets li {
  cursor: pointer;
  position: relative;
  left: 0;
  /*background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;*/
}
.datasets li.selected:hover {
  background-color: #ADD3F1 !important;
  color: #434343;
}
.datasets li:hover {
  color: #607D8B;
  /*background-color: #DDD;*/
  background-color: #E1F0FC;
  left: .1em;
}
.datasets .text {
  position: relative;
  top: -3px;
}
.datasets .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.ins-data-pane {
  background-color: #F8F8F8;
}

.ins-blue {
  color: #1F7EC2;
}

.glyphicon.glyphicon-triangle-right {
    font-size: 10px;
    padding-left: 5px;
    color: #434343;
}

.glyphicon.glyphicon-calendar {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.glyphicon.glyphicon-option-vertical {
    font-size: 14px;
    padding-top: 3px;
    color: #9B9C9D;
}
